/* Minimal styling to center the editor in this sample */
.container {
	margin: 0 auto;
}
table {
	border-collapse: collapse;
}
table.table-bordered td, table.table-bordered th{
	border: 1px solid #d3d3d3 !important;
}